html {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    touch-action: none;
}

body {
    background-color: black;
}

.debug-log {
    position: relative;
    color: red;
    z-index: 1;
	font-family: monospace;
}

#render-canvas.square {
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
    position: fixed;
    left: calc((100vw - min(90vw, 90vh)) * 0.5);
    top: calc((100vh - min(90vw, 90vh)) * 0.5);
    outline: none;
    border: 1px solid white;
}

#render-canvas.full-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    outline: none;
    border: none;
    z-index: 0;
}

#reset {
    position: fixed;
    top: 10px;
    left: 50%;
    z-index: 1;
}

#track-editor-menu {
    top: 20px;
    left: 20px;
    width: 250px;
}

.menu {
    position: fixed;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 20%);
    padding: 10px;
}

.line {
    height: 30px;
}

.line-flex {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paginated-title {
    display: flex;
    flex-direction: row;
}

.label {
    display: inline-block;
    width: 80px;
}

.btn-l {
    display: inline-block;
    width: 100%;
    height: 25px;
}

.btn-m {
    display: inline-block;
    width: 120px;
    height: 25px;
}

.btn-xs {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.spacer {
    visibility: hidden;
}

.title {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.title.t1 {
    font-size: 26px;
}

.title.t2 {
    font-size: 22px;
}

.paginated-title .title {
    flex: auto;
    text-align: center;
}